Assets/* filter=lfs diff=lfs merge=lfs -text
Assets/6.[[:space:]]Audio filter=lfs diff=lfs merge=lfs -text
Assets/8.[[:space:]]Assets.meta filter=lfs diff=lfs merge=lfs -text
Assets/11.[[:space:]]Image filter=lfs diff=lfs merge=lfs -text
Assets/4.[[:space:]]Animations.meta filter=lfs diff=lfs merge=lfs -text
Assets/2.[[:space:]]Materials.meta filter=lfs diff=lfs merge=lfs -text
Assets/SteamVR_Resources filter=lfs diff=lfs merge=lfs -text
Assets/StreamingAssets filter=lfs diff=lfs merge=lfs -text
Assets/Temp filter=lfs diff=lfs merge=lfs -text
Assets/10.[[:space:]]Weapon.meta filter=lfs diff=lfs merge=lfs -text
Assets/11.[[:space:]]Image.meta filter=lfs diff=lfs merge=lfs -text
Assets/SteamVR filter=lfs diff=lfs merge=lfs -text
Assets/SteamVR_Resources.meta filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro.meta filter=lfs diff=lfs merge=lfs -text
Assets/10.[[:space:]]Weapon filter=lfs diff=lfs merge=lfs -text
Assets/8.[[:space:]]Assets filter=lfs diff=lfs merge=lfs -text
Assets/1.[[:space:]]Scenes filter=lfs diff=lfs merge=lfs -text
Assets/3.[[:space:]]Scripts.meta filter=lfs diff=lfs merge=lfs -text
Assets/5.[[:space:]]Prefabs.meta filter=lfs diff=lfs merge=lfs -text
Assets/SteamVR_Input.meta filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro filter=lfs diff=lfs merge=lfs -text
Assets/2.[[:space:]]Materials filter=lfs diff=lfs merge=lfs -text
Assets/3.[[:space:]]Scripts filter=lfs diff=lfs merge=lfs -text
Assets/5.[[:space:]]Prefabs filter=lfs diff=lfs merge=lfs -text
Assets/6.[[:space:]]Audio.meta filter=lfs diff=lfs merge=lfs -text
Assets/7.[[:space:]]Sprites.meta filter=lfs diff=lfs merge=lfs -text
Assets/Temp.meta filter=lfs diff=lfs merge=lfs -text
Assets/XR.meta filter=lfs diff=lfs merge=lfs -text
Assets/1.[[:space:]]Scenes.meta filter=lfs diff=lfs merge=lfs -text
Assets/7.[[:space:]]Sprites filter=lfs diff=lfs merge=lfs -text
Assets/9.[[:space:]]Font.meta filter=lfs diff=lfs merge=lfs -text
Assets/SteamVR.meta filter=lfs diff=lfs merge=lfs -text
Assets/SteamVR_Input filter=lfs diff=lfs merge=lfs -text
Assets/StreamingAssets.meta filter=lfs diff=lfs merge=lfs -text
Assets/XR filter=lfs diff=lfs merge=lfs -text
Assets/4.[[:space:]]Animations filter=lfs diff=lfs merge=lfs -text
Assets/9.[[:space:]]Font filter=lfs diff=lfs merge=lfs -text
